src/defaults/XmlScheme.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:annotation>
      <xs:documentation>To change this template, choose Tools | Templates
and open the template in the editor.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Coppia" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="nome1"/>
              <xs:element type="xs:string" name="nome2"/>
              <xs:element type="xs:integer" name="id"/>
              <xs:element type="xs:integer" name="tipo"/>
              <xs:element type="xs:integer" name="master"/>
              <xs:element type="xs:integer" name="victory"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Turno">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:integer" name="id"/>
              <xs:element type="xs:boolean" name="calcolato"/>
              <xs:element name="Tavolo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:integer" name="id"/>
                    <xs:element type="xs:integer" name="id_uno"/>
                    <xs:element type="xs:integer" name="id_due"/>
                    <xs:element type="xs:integer" name="pun1"/>
                    <xs:element type="xs:integer" name="pun2"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>